# macOS
   .DS_Store
# Bootstrap and installation scripts
   bootstrap.*
   install.sh
# pycache and virtual environments
   webex/__pycache__/
   webex/venv/
# Output Files
   ouput.*
# Build artifacts
   build/
   dist/
   *.egg-info/
